body{
    margin: 0;
    padding-top: 0;
    background-color:azure;
}
.header-container
{
    display: flex;
    background-color:  rgb(212, 66, 76);
    color: white;
    height: 30px;
  
   
}
  .header-txt-1
{
   margin-left: 30px;
   margin-top: 5px;
   font-weight:100;
}  
.header-txt-2
{
    margin-left: 435px;
    margin-top: 5px;

}
.main-nav-container
{
    /* box-shadow: 10px 10px 30px 1px grey; */
    height: 90px;
    display: flex;
    
}
.mamaearth-logo
{
    height: 30px;
    margin-left: 50px;
    padding-top: 20px;
}
.search-bar
{
    border: 2px solid grey;
    height: 30px;
    width: 491px;
    margin-top: 20px;
    margin-left: 10px;
}
.magnify
{
    margin-left: 20px;
    margin-top: 10px;
}
.span
{
    display: inline-block;
    margin-left: 10px;
    color: grey;
   
}

.search-box
{
    display: flex;
    border: 2px solid 	 #66b3ff;
    width: 98px;
    height: 30px;
    margin-top: 20px;
    background-color:	 #66b3ff;
    border-radius: 0 5px 5px 0;
    text-align: center;
  
}
.Search
{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
.green-logo
{
    height: 60px;
    margin-left: 115px;
    margin-top: 10px;
}
.nav-icons
{
    padding-top: 25px;
    padding-left: 10px;
    font-weight: 800;
}
.navbar
{
   /* background-color: white; */
   /* box-shadow: 0 10px 30px 1px grey; */
   padding-left: 100px;
   height: 30px;
   background-color:azure;


}
.nav-links
{
    text-decoration: none;
    color: grey;
    padding-left: 25px;
    font-size: 18px;
}
.home-img
{
    height: 440px;
    width: 1520px;
}
.seller-div
{
    margin-left: 200px;
    margin-top: 100px;
}
.btn
{
    height: 40px;
    width: 100px;
    background-color: #3399ff;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: medium;
}
.main-card-div
{
    display: flex;

}
.cards
{
    border: 1px solid grey;
    /* height: 385px; */
    width: 314px;
    margin-top: 50px;
    border-radius: 0px 0px 15px 15px;
    margin-left: 50px;
    padding-right: 20px;
}

.card-img
{
    width: 314px;
}
.card-containt
{
    text-align: center;
}
.color-green
{
    color:  #00ff00;
}
.rate
{
    padding-left: 40px;
}
.price
{
    display: inline-block;
    padding-left: 100px;
    padding-top: 15px;
   padding-bottom: 5px;
}
.add-to-card-btn
{
    background-color: #3399ff;
    width: 335px;
    padding-top: 15px;
    border-radius: 0px 0px 15px 15px;
    padding-bottom: 10px;
    border: none;
}
.add-to-card-btn:hover
{
    background-color: #51e351;
    transition: 2s;
    /* width: 200px; */

}
.main-card-display
{
    display: flex;
    /* justify-content: space-evenly; */
}